<div class="nav">
    <div class="welcome">Welcome to Trickles!</div>
    <div class="page-changes">
        <div class="registration">
            <img src="assets/images/reg-signin.svg" alt="signin">
            <div>Sign in</div>
            <span class="dot"></span>

            <a routerLink="/signup">Signup</a>
        </div>
        <span class="line"></span>
        <div class="languages">
            <div>Languages</div>
        </div>
        <span class="line"></span>
        <div class="currency">
            <div>Currencies</div>
        </div>
    </div>
</div>